<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY HOME PAGE</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }

        body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 20px;
    color: #333;
}


    </style>
</head>
<body>
    <h1>home Page</h1>
    <h1>Student Management System</h1>

<!-- Add a form for adding new students -->
<form action="/add" method="POST" class="mb-4">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div><br>
        <div class="form-group col-md-4">
            <label for="age">Age</label>
            <input type="number" class="form-control" id="age" name="age" required>
        </div><br>
        <div class="form-group col-md-4">
            <label for="course">Course</label>
            <input type="text" class="form-control" id="course" name="course" required>
        </div><br>
    </div>
    <button type="submit" class="btn btn-primary">Add Student</button>
</form>



    <table id="studentTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Course</th>
                <th>Edit/Modify</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.course}}</td><!--retriving the data-->
                <td><a href="{{url_for('edit_student',id=student.id)}}" class="btn btn-warning">Edit </a> 
                  <br> 
                  <form action="{{url_for('delete_student',id=student.id)}}"method="POST">
                    <button class="btn btn-danger">Delete</button>
                  </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     

</body>
</html>